.option{    
    border:2px solid grey ;
    border-radius: 10%;
    width: fit-content;
    padding: 16px;
    margin: auto;
    background: rgb(207, 204, 204);
    filter: grayscale(100%);
    transition: all 300ms ease;
    cursor: pointer;
}
a{
    text-decoration: none;
}

.text{
    transition: all 300ms ease-in-out;
    color: gray;
}
.text-ct{
    text-align: center;
}

/* .option:hover{
    padding: 18px;
    filter: grayscale(0%);
    background: transparent;
    border:2px solid green ;
} */
.option:hover .text{
    filter: grayscale(0%);
    color: green;
    font-size: 24px;
}

.logo{
    width: 80px;    
    transition: all 300ms ease;
}

.ct{
    padding: 10px;
}